In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("Tele-communication Churn.xlsx")
df

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,16,no,43,no,19.3,14,2.70,67,19.47,331.1,161,6.60,14.7,68,9.36,6,no
1,2,AR,area_code_510,29,yes,21,no,1.0,15,4.21,88,29.09,109.7,92,29.85,122.8,114,10.49,2,yes
2,3,MO,area_code_415,236,yes,44,yes,10.1,4,2.23,105,31.79,204.8,13,7.34,7.7,165,11.85,4,no
3,4,OR,area_code_415,134,yes,25,yes,19.2,18,3.73,136,26.69,78.2,84,16.27,52.1,66,12.03,8,no
4,5,PA,area_code_408,102,yes,15,yes,4.7,18,0.69,12,28.45,31.0,63,8.57,286.4,129,17.71,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,99998,SD,area_code_510,61,no,28,no,6.4,12,1.48,79,16.03,234.4,145,30.62,234.8,19,12.80,3,no
99998,99999,WI,area_code_415,145,no,42,yes,17.8,18,2.56,13,8.58,191.4,99,18.29,86.5,83,4.32,1,yes
99999,100000,HI,area_code_415,167,yes,28,no,15.0,2,2.28,44,24.99,314.3,17,3.69,71.8,117,6.59,7,no
100000,100001,NC,area_code_408,194,no,2,yes,6.5,10,2.10,8,35.14,41.7,130,15.47,277.6,111,8.40,4,no
100001,100002,RI,area_code_408,3,yes,51,yes,2.3,12,3.84,76,24.58,338.2,5,2.24,126.0,5,5.28,8,yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      100002 non-null  int64
 1   state           100002 non-null  object
 2   area.code       100002 non-null  object
 3   account.length  100002 non-null  int64
 4   voice.plan      100002 non-null  object
 5   voice.messages  100002 non-null  int64
 6   intl.plan       100002 non-null  object
 7   intl.mins       100002 non-null  float64
 8   intl.calls      100002 non-null  int64
 9   intl.charge     100002 non-null  float64
 10  day.calls       100002 non-null  int64
 11  day.charge      100002 non-null  float64
 12  eve.mins        100002 non-null  float64
 13  eve.calls       100002 non-null  int64
 14  eve.charge      100002 non-null  float64
 15  night.mins      100002 non-null  float64
 16  night.calls     100002 non-null  int64
 17  night.charge    100002 non-null  float64
 18  customer.calls  100002 non-null  int64
 19  churn           100002 non-null  object
dtypes: float64(7), int64(8), object(5)
memory usage: 15.3+ MB

In [16]:
df["churn"].value_counts()

churn
yes    50135
no     49867
Name: count, dtype: int64

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, state, area.code, account.length, voice.plan, voice.messages, intl.plan, intl.mins, intl.calls, intl.charge, day.calls, day.charge, eve.mins, eve.calls, eve.charge, night.mins, night.calls, night.charge, customer.calls, churn]
Index: []

In [5]:
# Step 1: Make a copy for preprocessing
df_clean = df.copy()

# Drop the 'Unnamed: 0' column as it's just an index
df_clean.drop(columns=['Unnamed: 0'], inplace=True)

# Convert 'yes'/'no' columns to binary: 'voice.plan', 'intl.plan', 'churn'
binary_columns = ['voice.plan', 'intl.plan', 'churn']
df_clean[binary_columns] = df_clean[binary_columns].applymap(lambda x: 1 if x == 'yes' else 0)

# Display the updated data types and first few rows
df_clean.info(), df_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   state           100002 non-null  object
 1   area.code       100002 non-null  object
 2   account.length  100002 non-null  int64
 3   voice.plan      100002 non-null  int64
 4   voice.messages  100002 non-null  int64
 5   intl.plan       100002 non-null  int64
 6   intl.mins       100002 non-null  float64
 7   intl.calls      100002 non-null  int64
 8   intl.charge     100002 non-null  float64
 9   day.calls       100002 non-null  int64
 10  day.charge      100002 non-null  float64
 11  eve.mins        100002 non-null  float64
 12  eve.calls       100002 non-null  int64
 13  eve.charge      100002 non-null  float64
 14  night.mins      100002 non-null  float64
 15  night.calls     100002 non-null  int64
 16  night.charge    100002 non-null  float64
 17  customer.calls  100002 non-null  int64
 18  churn           100002 non-null  int64
dtypes: float64(7), int64(10), object(2)
memory usage: 14.5+ MB

C:\Users\shiva\AppData\Local\Temp\ipykernel_15652\2527961963.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_clean[binary_columns] = df_clean[binary_columns].applymap(lambda x: 1 if x == 'yes' else 0)

(None,
   state      area.code  account.length  voice.plan  voice.messages  intl.plan  \
 0    KS  area_code_415              16           0              43          0
 1    AR  area_code_510              29           1              21          0
 2    MO  area_code_415             236           1              44          1
 3    OR  area_code_415             134           1              25          1
 4    PA  area_code_408             102           1              15          1

    intl.mins  intl.calls  intl.charge  day.calls  day.charge  eve.mins  \
 0       19.3          14         2.70         67       19.47     331.1
 1        1.0          15         4.21         88       29.09     109.7
 2       10.1           4         2.23        105       31.79     204.8
 3       19.2          18         3.73        136       26.69      78.2
 4        4.7          18         0.69         12       28.45      31.0

    eve.calls  eve.charge  night.mins  night.calls  night.charge  \
 0        161        6.60        14.7           68          9.36
 1         92       29.85       122.8          114         10.49
 2         13        7.34         7.7          165         11.85
 3         84       16.27        52.1           66         12.03
 4         63        8.57       286.4          129         17.71

    customer.calls  churn
 0               6      0
 1               2      1
 2               4      0
 3               8      0
 4               5      0  )

In [6]:
# Drop 'state' and 'area.code' as requested
df_clean.drop(columns=['state', 'area.code'], inplace=True)

In [7]:
# Step 1: Create total usage and total charge features
df_clean['total.mins'] = df_clean[['intl.mins', 'eve.mins', 'night.mins']].sum(axis=1)
df_clean['total.charge'] = df_clean[['intl.charge', 'day.charge', 'eve.charge', 'night.charge']].sum(axis=1)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   account.length  100002 non-null  int64
 1   voice.plan      100002 non-null  int64
 2   voice.messages  100002 non-null  int64
 3   intl.plan       100002 non-null  int64
 4   intl.mins       100002 non-null  float64
 5   intl.calls      100002 non-null  int64
 6   intl.charge     100002 non-null  float64
 7   day.calls       100002 non-null  int64
 8   day.charge      100002 non-null  float64
 9   eve.mins        100002 non-null  float64
 10  eve.calls       100002 non-null  int64
 11  eve.charge      100002 non-null  float64
 12  night.mins      100002 non-null  float64
 13  night.calls     100002 non-null  int64
 14  night.charge    100002 non-null  float64
 15  customer.calls  100002 non-null  int64
 16  churn           100002 non-null  int64
 17  total.mins      100002 non-null  float64
 18  total.charge    100002 non-null  float64
dtypes: float64(9), int64(10)
memory usage: 14.5 MB

In [8]:
df_clean.drop(['intl.mins', 'eve.mins', 'night.mins','intl.charge', 'day.charge', 'eve.charge', 'night.charge'], axis =1, inplace = True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   account.length  100002 non-null  int64
 1   voice.plan      100002 non-null  int64
 2   voice.messages  100002 non-null  int64
 3   intl.plan       100002 non-null  int64
 4   intl.calls      100002 non-null  int64
 5   day.calls       100002 non-null  int64
 6   eve.calls       100002 non-null  int64
 7   night.calls     100002 non-null  int64
 8   customer.calls  100002 non-null  int64
 9   churn           100002 non-null  int64
 10  total.mins      100002 non-null  float64
 11  total.charge    100002 non-null  float64
dtypes: float64(2), int64(10)
memory usage: 9.2 MB

In [9]:
df_model = df_clean.copy()
# Separate features and target
X = df_model.drop(columns='churn')
y = df_model['churn']

# Check final shape of features and a preview
X.shape, X.columns.tolist(), y.value_counts()

((100002, 11),
 ['account.length',
  'voice.plan',
  'voice.messages',
  'intl.plan',
  'intl.calls',
  'day.calls',
  'eve.calls',
  'night.calls',
  'customer.calls',
  'total.mins',
  'total.charge'],
 churn
 1    50135
 0    49867
 Name: count, dtype: int64)

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# Standardize the entire feature set X
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Train-test split on scaled data
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42, stratify=y)

In [11]:
# Train Logistic Regression on scaled training data
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred = logreg.predict(X_test_scaled)
y_proba = logreg.predict_proba(X_test_scaled)[:, 1]

# Evaluation metrics
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred, output_dict=True)
roc_auc = roc_auc_score(y_test, y_proba)

conf_matrix, class_report, roc_auc

(array([[3066, 6908],
        [3067, 6960]], dtype=int64),
 {'0': {'precision': 0.49991847383009946,
   'recall': 0.307399238018849,
   'f1-score': 0.38070404172099087,
   'support': 9974.0},
  '1': {'precision': 0.5018748197288723,
   'recall': 0.6941258601775206,
   'f1-score': 0.5825486503452605,
   'support': 10027.0},
  'accuracy': 0.5012749362531873,
  'macro avg': {'precision': 0.5008966467794859,
   'recall': 0.5007625490981849,
   'f1-score': 0.4816263460331257,
   'support': 20001.0},
  'weighted avg': {'precision': 0.5008992388082003,
   'recall': 0.5012749362531873,
   'f1-score': 0.4818937767680161,
   'support': 20001.0}},
 0.497625520779078)

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score

X = df_model.drop(columns='churn')
y = df_model['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
rf = RandomForestClassifier(n_estimators=100, max_depth = 10)
kfold = StratifiedKFold(n_splits=5)
scores = cross_val_score(rf, X_train, y_train, cv = kfold, scoring ='recall')
scores

array([0.59012715, 0.58140115, 0.56918474, 0.582097  , 0.56015459])

In [40]:
rf = RandomForestClassifier(n_estimators=200, max_depth = None)
rf.fit(X_train,y_train)
y_test_pred = rf.predict(X_test)
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.50      0.50      0.50      9974
           1       0.50      0.49      0.49     10027

    accuracy                           0.50     20001
   macro avg       0.50      0.50      0.50     20001
weighted avg       0.50      0.50      0.50     20001